<style>
    header {
        background-color: black;
    }
</style>
<div class="card header-margin contact-area section-padding-100" style="padding: 80px 100px;">
    <div class="card-header">
        <strong>Details</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-5">
                        <label>Họ tên: </label>
                    </div>
                    <div class="col-md-7">
                        <span>{{name}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <label>Email: </label>
                    </div>
                    <div class="col-md-7">
                        <span>{{email}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <label>Chức vụ: </label>
                    </div>
                    <div class="col-md-7">
                        <span>{{accountType}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-5">
                        <label>Ngày tháng năm sinh: </label>
                    </div>
                    <div class="col-md-7">
                        <span>{{birthDate}}</span>
                    </div>
                </div>
                {{#if isWriter}}
                <div class="form-group row">
                    <div class="col-md-5">
                        <label>Bút danh:</label>
                    </div>
                    <div class="col-md-7">
                        <span>{{accountType}}</span>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button class="btn btn-primary" type="button" id="changePassword">Change Password</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="container">
            <form action="/account/change-password" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <strong>Old Password*:</strong>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" name="oldPwd" id="oldPwd" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <strong>New Password*:</strong>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" name="newPwd" id="newPwd" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>