<div class="hero-area">
    <!-- Hero Slides Area -->
    <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        {{#each topStoS}}
        <div class="single-hero-slide bg-img background-overlay"
            style="background-image: url(/stylesheets/images/{{Thumbnail_image}});">
        </div>
        {{/each}}
    </div>
    <!-- Hero Post Slide -->
    <div class="hero-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-post-slide">
                        <!-- Single Slide -->
                        {{#each top3S}}
                        <div class="single-slide d-flex align-items-center">
                            <div class="post-number">
                                <p>Hot</p>
                            </div>
                            <div class="post-title">
                                <a href="/page/{{news_id}}">{{Title}}</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ********** Hero Area End ********** -->

<div class="main-content-wrapper section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- ============= Post Content Area Start ============= -->
            <div class="col-12 col-lg-8">
                <div class="post-content-area mb-50">
                    <!-- Catagory Area -->
                    <div class="world-catagory-area">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="title">Latest in</li>

                            <li class="nav-item">
                                <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab"
                                    aria-controls="world-tab-1" aria-selected="true">Kinh doanh</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab"
                                    aria-controls="world-tab-2" aria-selected="true">Thế giới</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab3" data-toggle="tab" href="#world-tab-3" role="tab"
                                    aria-controls="world-tab-3" aria-selected="true">Văn hóa - Xã hội</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab4" data-toggle="tab" href="#world-tab-4" role="tab"
                                    aria-controls="world-tab-4" aria-selected="true">Đời sống</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab5" data-toggle="tab" href="#world-tab-5" role="tab"
                                    aria-controls="world-tab-5" aria-selected="true">Thể thao</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab6" data-toggle="tab" href="#world-tab-6" role="tab"
                                    aria-controls="world-tab-6" aria-selected="true">Giáo dục</a>
                            </li>

                            {{!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">Văn hóa - Xã hội</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link" id="tab7" data-toggle="tab" href="#world-tab-7" role="tab"
                                        aria-controls="world-tab-7" aria-selected="false">Văn hóa</a>
                                    <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab"
                                        aria-controls="world-tab-8" aria-selected="false">Xã hội</a>
                                    <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab"
                                        aria-controls="world-tab-8" aria-selected="false">Đời sống</a>
                                </div>
                            </li> --}}
                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel"
                                aria-labelledby="tab1">
                                <div class="row">
                                    <div class="col-12">
                                        {{#each kinhDoanh1S}}
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                                <!-- Catagory -->
                                                <div class="post-cta"><a
                                                        href="page/news-search/bysubcat/{{subcat_name}}">{{subcat_name}}</a>
                                                </div>
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}</h5>
                                                </a>
                                                <p>{{Summary}}</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a class="post-author">{{nickname}}</a> on <a
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
                                <div class="row">
                                    <div class="col-12">
                                        {{#each theGioi1S}}
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                                <!-- Catagory -->
                                                <div class="post-cta"><a
                                                        href="page/news-search/bysubcat/{{subcat_name}}">{{subcat_name}}</a>
                                                </div>
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}</h5>
                                                </a>
                                                <p>{{Summary}}</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a class="post-author">{{nickname}}</a> on <a
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
                                <div class="row">
                                    <div class="col-12">
                                        {{#each VHXH1S}}
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                                <!-- Catagory -->
                                                <div class="post-cta"><a
                                                        href="page/news-search/bysubcat/{{subcat_name}}">{{subcat_name}}</a>
                                                </div>
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}</h5>
                                                </a>
                                                <p>{{Summary}}</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a class="post-author">{{nickname}}</a> on <a
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-4" role="tabpanel" aria-labelledby="tab4">
                                <div class="row">
                                    <div class="col-12">
                                        {{#each doiSong1S}}
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                                <!-- Catagory -->
                                                <div class="post-cta"><a
                                                        href="page/news-search/bysubcat/{{subcat_name}}">{{subcat_name}}</a>
                                                </div>
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}</h5>
                                                </a>
                                                <p>{{Summary}}</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a class="post-author">{{nickname}}</a> on <a
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-5" role="tabpanel" aria-labelledby="tab5">
                                <div class="row">
                                    <div class="col-12">
                                        {{#each theThao1S}}
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                                <!-- Catagory -->
                                                <div class="post-cta"><a
                                                        href="page/news-search/bysubcat/{{subcat_name}}">{{subcat_name}}</a>
                                                </div>
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}</h5>
                                                </a>
                                                <p>{{Summary}}</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a class="post-author">{{nickname}}</a> on <a
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-6" role="tabpanel" aria-labelledby="tab6">
                                <div class="col-12">
                                    {{#each giaoDuc1S}}
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            <!-- Catagory -->
                                            <div class="post-cta"><a
                                                    href="page/news-search/bysubcat/{{subcat_name}}">{{subcat_name}}</a>
                                            </div>
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="/page/{{news_id}}" class="headline">
                                                <h5>{{Title}}</h5>
                                            </a>
                                            <p>{{Summary}}</p>
                                            <!-- Post Meta -->
                                            <div class="post-meta">
                                                <p><a class="post-author">{{nickname}}</a> on <a
                                                        class="post-date">{{Date}}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            {{!-- <div class="tab-pane fade" id="world-tab-9" role="tabpanel" aria-labelledby="tab9">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/img/blog-img/b1.jpg" alt="">
                                                <!-- Catagory -->
                                                <div class="post-cta"><a href="#">travel</a></div>
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="home/page" class="headline">
                                                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most
                                                        Complex Concepts in Physics?</h5>
                                                </a>
                                                <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex
                                                    Concepts in...</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#"
                                                            class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/img/blog-img/b10.jpg" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="home/page" class="headline">
                                                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#"
                                                            class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/img/blog-img/b11.jpg" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="home/page" class="headline">
                                                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#"
                                                            class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/img/blog-img/b12.jpg" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="home/page" class="headline">
                                                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#"
                                                            class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/img/blog-img/b13.jpg" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="home/page" class="headline">
                                                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#"
                                                            class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </div>

                    <!-- Catagory Area -->
                    <div class="world-catagory-area mt-50">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="title">Top in: </li>

                            <li class="nav-item">
                                <a class="nav-link active" id="tab10" data-toggle="tab" href="#world-tab-10" role="tab"
                                    aria-controls="world-tab-10" aria-selected="true">Kinh doanh</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab11" data-toggle="tab" href="#world-tab-11" role="tab"
                                    aria-controls="world-tab-11" aria-selected="false">Thế giới</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab12" data-toggle="tab" href="#world-tab-12" role="tab"
                                    aria-controls="world-tab-12" aria-selected="false">Văn hóa - Xã hội</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab13" data-toggle="tab" href="#world-tab-13" role="tab"
                                    aria-controls="world-tab-13" aria-selected="false" action="">Đời sống</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab14" data-toggle="tab" href="#world-tab-14" role="tab"
                                    aria-controls="world-tab-14" aria-selected="false">Thể thao</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab15" data-toggle="tab" href="#world-tab-15" role="tab"
                                    aria-controls="world-tab-15" aria-selected="false">Giáo dục</a>
                            </li>

                            {{!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">More</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link" id="tab16" data-toggle="tab" href="#world-tab-16" role="tab"
                                        aria-controls="world-tab-16" aria-selected="false">Sports</a>
                                    <a class="nav-link" id="tab17" data-toggle="tab" href="#world-tab-17" role="tab"
                                        aria-controls="world-tab-17" aria-selected="false">Politices</a>
                                    <a class="nav-link" id="tab18" data-toggle="tab" href="#world-tab-18" role="tab"
                                        aria-controls="world-tab-18" aria-selected="false">Features</a>
                                </div>
                            </li> --}}
                        </ul>

                        <div class="tab-content" id="myTabContent2">

                            <div class="tab-pane fade show active" id="world-tab-10" role="tabpanel"
                                aria-labelledby="tab10">
                                <div class="row">
                                    {{#each kinhDoanh2S}}
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center mb-1">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">{{{nickname}}}</a> on <a href="#"
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-11" role="tabpanel" aria-labelledby="tab11">
                                <div class="row">
                                    {{#each theGioi2S}}
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center mb-1">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">{{{nickname}}}</a> on <a href="#"
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-12" role="tabpanel" aria-labelledby="tab12">
                                <div class="row">
                                    {{#each VHXH2S}}
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center mb-1">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">{{{nickname}}}</a> on <a href="#"
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-13" role="tabpanel" aria-labelledby="tab13">
                                <div class="row">
                                    {{#each doiSong2S}}
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center mb-1">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">{{{nickname}}}</a> on <a href="#"
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-14" role="tabpanel" aria-labelledby="tab14">
                                <div class="row">
                                    {{#each theThao2S}}
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center mb-1">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">{{{nickname}}}</a> on <a href="#"
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="world-tab-15" role="tabpanel" aria-labelledby="tab15">
                                <div class="row">
                                    {{#each giaoDuc2S}}
                                    <div class="col-12 col-md-6">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-2 d-flex align-items-center mb-1">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="/page/{{news_id}}" class="headline">
                                                    <h5>{{Title}}
                                                    </h5>
                                                </a>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p><a href="#" class="post-author">{{{nickname}}}</a> on <a href="#"
                                                            class="post-date">{{Date}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- ========== Sidebar Area ========== -->
            <div class="col-12 col-md-8 col-lg-4">
                <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">About This Project</h5>
                        <div class="widget-content">
                            <p>Developed by 1412315 and 1412329 as our final (hope so) project to graduate from HCMUS.
                                Please God have mercy.
                                <br>And may the force be with you.
                            </p>
                        </div>
                    </div>
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Top Views Article</h5>
                        <div class="widget-content">
                            <!-- Single Blog Post -->
                            {{#each topStoS}}
                            <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <a href="page/{{news_id}}" class="headline">
                                        <h5 class="mb-0">{{Title}}</h5>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Stay Connected</h5>
                        <div class="widget-content">
                            <div class="social-area d-flex justify-content-between">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-vimeo"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Today’s Pick</h5>
                        <div class="widget-content">
                            <!-- Single Blog Post -->
                            <div class="single-blog-post todays-pick">
                                <!-- Post Thumbnail -->
                                {{#each ranStoS}}
                                <div class="post-thumbnail">
                                    <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content px-0 pb-0">
                                    <a href="page/{{news_id}}" class="headline">
                                        <h5>{{Title}}</h5>
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== Top 3,4 go here ========================================================================= -->
        <div class="row justify-content-center">
            <!-- ========== Single Blog Post ========== -->
            {{#each top3S}}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post post-style-3 mt-50 wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                        <!-- Post Content -->
                        <div class="post-content d-flex align-items-center justify-content-between">
                            <!-- Catagory -->
                            <div class="post-tag"><a href="page/news-search/bycat/{{cat_name}}">{{cat_name}}</a></div>
                            <!-- Headline -->
                            <a href="page/{{news_id}}" class="headline">
                                <h5>{{Title}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a class="post-author">{{nickname}}</a> on <a class="post-date">{{Date}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <!-- ========== Top 3,4 end here ========================================================================= -->

        <div class="world-latest-articles">
            <div class="row justified-content-center">
                {{!-- <div class="col-12 col-lg-8"> --}}
                <div class="col-12">
                    <div class="title">
                        <h5>Latest Articles</h5>
                    </div>

                    {{#each allLatestS}}
                    <div class="single-blog-post post-style-4 d-flex align-items-center wow fadeInUpBig mb-2"
                        data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img src="/stylesheets/images/{{Thumbnail_image}}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="/page/{{news_id}}" class="headline">
                                <h5>{{Title}}</h5>
                            </a>
                            <p>{{Summary}}</p>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{nickname}}</a> on <a href="#"
                                        class="post-date">{{Date}}</a></p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>